[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /home/thomas/.emacs.d/exwm/startup.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm